<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{one_dojo.name}} Dojo</title>
    <!-- Import Cascade Style Sheet (CSS) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container shadow py-4 my-5 bg-white rounded">
        <div class="bg-dark d-flex p-2 align-items-center justify-content-between">
            <h1 style="color: white;">
                {{one_dojo.name}} Ninjas
            </h1>
            <h4>
                <a href="/dojos" class="badge badge-dark">Dojos</a>
            </h4>
        </div>
        <table class="table border mb-4">
            <thead class="table-secondary m-2">
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Age
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Get all Ninjas -->
                {% for ninja in one_dojo.ninjas %}
                <tr>
                    <td>
                        {{ninja.first_name}}
                    </td>
                    <td>
                        {{ninja.last_name}}
                    </td>
                    <td>
                        {{ninja.age}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <!-- Add ninja -->
        <a href="/ninjas" class="badge badge-secondary">Add Ninja</a>
    </div>

    <!-- Import JavaScript  -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>