<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{one_dojo.name}} Dojo</title>
    <!-- Import Cascade Style Sheet (CSS) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container shadow py-4 my-5 bg-white rounded">
        <table class="table table-hover table-striped border mb-4">
            <thead>
                <tr>
                    <th class="table-dark h1 m-2">
                        <!-- Dojo -->
                        {{one_dojo.name}} Dojo
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Get all Ninjas -->
                {% for ninja in one_dojo.ninjas %}
                <tr>
                    <td>
                        {{ninja.first_name}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <!-- Footer for navigation -->
        <a href="/dojos" class="badge badge-secondary">Dojos</a> |
        <a href="/ninjas" class="badge badge-secondary">Add Ninja</a>
    </div>

    <!-- Import JavaScript  -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>