<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{one_dojo.name}} Dojo</title>
    <!-- Import Cascade Style Sheet (CSS) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container shadow py-4 my-5 bg-white rounded">
        <table class="table table-striped border mb-4">
            <thead>
                <tr>
                    <th class="table-dark h1 m-2">
                        <!-- Dojo -->
                        <div class="d-flex align-items-center justify-content-between">
                            {{one_dojo.name}} Dojo
                            <h4>
                                <a href="/dojos" class="badge badge-dark">Dojos</a>
                            </h4>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Get all Ninjas -->
                {% for ninja in one_dojo.ninjas %}
                <tr>
                    <td>
                        {{ninja.first_name}}
                        <!-- Remove Option -->
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>

                </tr>
                {%endfor%}
            </tbody>
        </table>
        <!-- Add ninja -->
        <a href="/ninjas" class="badge badge-secondary">Add Ninja</a>
    </div>

    <!-- Import JavaScript  -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>